<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiran.uaa.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.weiran.uaa.model.UserDO">
        <id column="id" property="id" />
        <result column="login_id" property="loginId" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="pw" property="pw" />
        <result column="role_id" property="roleId" />
    </resultMap>

</mapper>
